<!--Gestions des locataires-->
<div class="col-12">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <div class="card">
        <div class="flex justify-content-between align-items-center mb-3">
            <h5>Gestions des locataires</h5>
            <div class="flex justify-content-end">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="searchTenants($event)" placeholder="Rechercher" />
                </span>
            </div>

            <button
                pButton
                type="button"
                label="Ajouter un locataire"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="openTenantModal()"
            ></button>
        </div>
        <p-table
            [value]="tenants"
            scrollDirection="both"
            [scrollable]="true"
            styleClass="mt-3"
            responsiveLayout="scroll"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20, 50]"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom et prénom</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tenant>
                <tr>
                    <td style="width: 200px"><span class="font-bold">{{ tenant.nom }} {{ tenant.prenom }}</span></td>
                    <td style="width: 200px">{{ tenant.telephone }}</td>
                    <td style="width: 200px">{{ tenant.adresse }}</td>
                    <td style="width: 200px">
                        {{ tenant.created_at | date : "medium" }}
                    </td>

                    <td style="width: 200px">
                        <button
                            pButton
                            type="button"
                            title="Voir le propriétaire"
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-text p-button-info"
                            (click)="openTenantModal(tenant, true)"
                        ></button>

                        <button
                            pButton
                            type="button"
                            title="Modifier"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-warning"
                            (click)="openTenantModal(tenant)"
                        ></button>
                        <button
                            pButton
                            type="button"
                            title="Supprimer"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="deleteTenant(tenant.id)"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog
        header="{{ isEditing ? 'Modifier le locataire' : 'Ajouter un locataire' }}"
        [(visible)]="displayDialog"
        [modal]="true"
        [closable]="true"
        [style]="{ width: '800px' }"
        (onHide)="selectedTenant = null"
    >
        <form class="p-fluid">
            <div class="grid">
                <!-- Colonne 1 -->
                <div class="col-12 md:col-6">
                    <div class="p-field mb-2">
                        <label for="nom">Nom</label>
                        <input
                            id="nom"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.nom"
                            name="nom"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="prenom">Prénom</label>
                        <input
                            id="prenom"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.prenom"
                            name="prenom"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="email">Email</label>
                        <input
                            id="email"
                            type="email"
                            pInputText
                            [(ngModel)]="tenantForm.email"
                            name="email"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="telephone">Téléphone</label>
                        <input
                            id="telephone"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.telephone"
                            name="telephone"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="adresse">Adresse</label>
                        <input
                            id="adresse"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.adresse"
                            name="adresse"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="sexe">Sexe</label>
                        <p-dropdown
                            [options]="[
                            { label: 'Homme', value: 'H' },
                            { label: 'Femme', value: 'F' }
                        ]"
                            [(ngModel)]="tenantForm.sexe"
                            name="sexe"
                            [disabled]="isViewMode"
                            placeholder="Sélectionner un sexe"
                        ></p-dropdown>
                    </div>

                </div>

                <!-- Colonne 2 -->
                <div class="col-12 md:col-6">
                    <div class="p-field mb-2">
                        <label for="profession">Profession</label>
                        <input
                            id="profession"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.profession"
                            name="profession"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="nationalite">Nationalité</label>
                        <input
                            id="nationalite"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.nationalite"
                            name="nationalite"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="situation_matrimoniale">Situation matrimoniale</label>
                        <p-dropdown
                            [options]="situationMatrimoniale"
                            [(ngModel)]="tenantForm.situation_matrimoniale"
                            name="situation_matrimoniale"
                            [disabled]="isViewMode"
                        ></p-dropdown>
                    </div>
                    <div class="p-field mb-2">
                        <label for="nombre_de_personnes">Nombre de personnes</label>
                        <input
                            id="nombre_de_personnes"
                            type="number"
                            pInputText
                            [(ngModel)]="tenantForm.nombre_de_personnes"
                            name="nombre_de_personnes"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="numero_cni">Numéro CNI</label>
                        <input
                            id="numero_cni"
                            type="text"
                            pInputText
                            [(ngModel)]="tenantForm.numero_cni"
                            name="numero_cni"
                            [disabled]="isViewMode"
                        />
                    </div>
                    <div class="p-field mb-2">
                        <label for="date_creation_cni">Date création CNI</label>
                        <p-calendar
                            id="date_creation_cni"
                            [(ngModel)]="tenantForm.date_creation_cni"
                            name="date_creation_cni"
                            dateFormat="dd/mm/yy"
                            [disabled]="isViewMode"
                        ></p-calendar>
                    </div>
                    <div class="p-field mb-2">
                        <label for="date_expiration_cni">Date expiration CNI</label>
                        <p-calendar
                            id="date_expiration_cni"
                            [(ngModel)]="tenantForm.date_expiration_cni"
                            name="date_expiration_cni"
                            dateFormat="dd/mm/yy"
                            [disabled]="isViewMode"
                        ></p-calendar>
                    </div>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <button
                *ngIf="!isViewMode"
                pButton
                label="Annuler"
                icon="pi pi-times"
                class="p-button-text"
                (click)="displayDialog = false"
            ></button>

            <button
                *ngIf="!isViewMode"
                pButton
                label="Enregistrer"
                icon="pi pi-check"
                (click)="saveTenant()"
            ></button>

            <button
                *ngIf="isViewMode"
                pButton
                label="Fermer"
                icon="pi pi-times"
                class="p-button-text"
                (click)="displayDialog = false"
            ></button>
        </ng-template>
    </p-dialog>

</div>
