<p-toast></p-toast>
    <div class="card">
        <p-card header="Paiements en retard">
            <p-table
            [value]="paiementsEnRetard" *ngIf="paiementsEnRetard.length > 0"
            scrollDirection="both"
            [scrollable]="true"
            styleClass="mt-3"
            responsiveLayout="scroll"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20, 50]"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
            >
                <ng-template pTemplate="header">
        <tr>
          <th>Locataire</th>
            <th>Maison</th>
          <th>Montant</th>
          <th>Date</th>
          <th>Statut</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-paiement>
        <tr>
            <td>{{ paiement.contrat.locataire.nom }} {{ paiement.contrat.locataire.prenom }}</td>
            <td>{{ paiement.contrat.maison.adresse }}</td>
          <td>{{ paiement.montant | numberSpace}} FCFA</td>
            <td>{{ paiement.date_normale_de_paiement | date }}</td>
            <td> <p-badge [value]="paiement.status" severity="danger"></p-badge>
        </tr>
      </ng-template>
    </p-table>
        <p *ngIf="paiementsEnRetard.length === 0">Aucun paiement en retard.</p>
    </p-card>
</div>
